<div class="ccrud">
   <div>
     <table class="table">
     <caption>List of contacts to : Add, Delete or Update ...</caption>
      <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Update</th>
      <th scope="col">Add</th>
      <th scope="col">Delete</th>
      </tr>
      </thead>
     <tbody>
     <tr  *ngFor="let contact of contacts" > 
	     <th scope="row"> {{ contact.contactid }} </th>
	     <td> {{contact.fullname | uppercase}} </td>
	     <td> {{contact.email}} </td>
	     <td> {{contact.phone}} </td>
	     <td> {{contact.address}}</td>
	     <td><button type="button" class="btn btn-warning">Up</button></td>
	     <td><button type="button" class="btn btn-success">+</button></td>
	     <td><button type="button" class="btn btn-danger">-</button></td>
     </tr>
    </tbody>
    </table>
   </div>
</div>
