<div class="ccontact">
   <div>
     <table class="table">
     <caption>List of contacts</caption>
      <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      </tr>
      </thead>
     <tbody>
     <tr  *ngFor="let contact of contacts" > 
	     <th scope="row"> {{ contact.contactid }} </th>
	     <td> {{contact.fullname | uppercase}} </td>
	     <td> {{contact.email}} </td>
	     <td> {{contact.phone}} </td>
	     <td> {{contact.address}}</td>
     </tr>
    </tbody>
    </table>
    <p style="font-style:italic;font-size:small;">Please login to be able to add, remove and edit contacts.</p>
   </div>
</div>
